In [2]:
#Importing Necessary Libraries
import numpy as np
import pandas as pd


#For  Datavisualization

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns


import warnings
warnings.filterwarnings('ignore')

In [3]:
#Load dataset.

In [4]:
data=pd.read_csv(r"C:\Users\shriv\OneDrive\Desktop\bill_authentication.csv")
data.head()

   Variance  Skewness  Curtosis  Entropy  Class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [5]:
#Lets Data check Data Summary

In [6]:
data.shape

(1372, 5)

In [7]:
data.describe()

          Variance     Skewness     Curtosis      Entropy        Class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Variance  1372 non-null   float64
 1   Skewness  1372 non-null   float64
 2   Curtosis  1372 non-null   float64
 3   Entropy   1372 non-null   float64
 4   Class     1372 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 53.7 KB

In [9]:
data.isna().sum()

Variance    0
Skewness    0
Curtosis    0
Entropy     0
Class       0
dtype: int64

In [12]:
#There is no null values.we are go to proceed.

In [13]:
#But i there is outliers may bey . Lets remove outliers by zscore.

In [15]:
from scipy.stats import zscore

In [16]:
z_score=zscore(data[['Variance','Skewness','Curtosis','Entropy']])
z_abs=np.abs(z_score)
filtering_entry=(z_abs < 3).all(axis=1)
data=data[filtering_entry]
data.shape

(1336, 5)

In [17]:
#Now we just removed all the outliers and now we are good to do train test split

In [19]:
x=data.drop(columns=['Class'])
y=data.Class

In [18]:
from sklearn.model_selection import train_test_split

In [43]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.25,random_state=94255)

In [21]:
#Lets build a model by bagging Classifier

In [24]:
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

In [31]:
dt=DecisionTreeClassifier()

In [32]:
bg=BaggingClassifier(base_estimator=dt,max_samples=0.70,bootstrap=True,oob_score=True,n_estimators=9)

In [33]:
bg.fit(x_train,y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(), max_samples=0.7,
                  n_estimators=9, oob_score=True)

In [45]:
bg.score(x_train,y_train)

0.9960079840319361

In [44]:
bg.score(x_test,y_test)

0.9940119760479041

In [46]:
#Our model is very goood,

In [ ]:
#Student of DataScience
#Student of DataTrained- Saurav
#Date - 23-09-2022
#Time - 10:19